# Node modules
node_modules/

# Build output
dist/
build/

# Logs
*.log
logs/

# Environment variables
.env

# TypeScript cache
*.tsbuildinfo

# OS-specific
.DS_Store
Thumbs.db

# Editor-specific
.vscode/
.idea/
